@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%); 
    width: 1440px;
    /* font-size: 14px; */
    color:hsl(0, 0%, 100%);
}
nav {
    display: flex;
    padding: 25px 0 0  25px;
}
nav .logo{
    width: 30px;
    height: 10px;
}
nav .main-menu{
    font-family: 'Raleway', sans-serif;
    align-items: flex-end;
    padding-left: 870px;
}
nav .main-menu a{
    text-decoration: none;
    color: aliceblue;
}
/* .main-pic img{
    margin-top: 20px;
    width: 800px;
    background-color: black;
} */
.main-part{
    margin-top: 40px;
    width: 500px;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
section .main-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .main-part button{
    border: 1px solid #4Fc5D4;
    background-color: #4Fc5D4;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.features{
    width: 750px;
}
.features .fav1{
    display: flex;
}
.features .fav1 .fav11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .fav1 .fav12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .fav2{
    display: flex;
}
.features .fav2 .fav21{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .fav2 .fav22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
}
.info .banner {
    margin: 30px 60px;
}

.info .ban-info {
    margin: 30px 60px;
}
























@media screen and (max-width: 375px) {
    .features .fav1{
        display: flex;
        flex-direction: column;
    }
    .features .fav2{
        display: flex;
        flex-direction: column;
    }
}