@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%); 
    width: 1440px;
    /* font-size: 14px; */
    color:hsl(0, 0%, 100%);
}
h1, h2, h3, a{
    font-family: 'Raleway', sans-serif;

}
nav {
    display: flex;
    padding: 25px 0 0  25px;
}
nav .logo{
    width: 30px;
    height: 10px;
}
nav .main-menu{
    font-family: 'Raleway', sans-serif;
    align-items: flex-end;
    padding-left: 870px;
}
nav .main-menu a{
    text-decoration: none;
    color: aliceblue;
    padding: 0 30px;
    color: #B3B6BA;
}
nav .main-menu a:hover{
    font-weight: bold;
    text-decoration: underline;
}
/* .main-pic img{
    margin-top: 20px;
    width: 800px;
    background-color: black;
} */
/* section .main-pic .responsive{
    width: 100%;
    max-width: 800px;
    height: auto;
} */
.main-part{
    margin-top: 40px;
    width: 500px;
    align-items: center;
}
section .main-pic img{
    padding-top: 60px;
    margin-top: 60px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
section .main-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .main-part button{
    border: 1px solid #4Fc5D4;
    background-color: #4Fc5D4;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.features{
    width: 750px;
}
.features .fav1{
    display: flex;
}
.features .fav1 .fav11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.features .fav1 .fav12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.features .fav2{
    display: flex;
}
.features .fav2 .fav21{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.features .fav2 .fav22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.info{
    display: flex;
    
    height: auto;
}
.info .banner {
    margin: 30px 60px;
    
}
.info .banner img{
    
    width: 450px;
}

.info .ban-info {
    margin: 30px 60px;
    width: 500px;
}


h1, h2, h3, p{
    text-align: center;
}
.ban-info p{
    text-align: left;
}
.link {
    color: aqua;
    display: flex;
    /* flex-direction: ; */
}
.info .ban-info .link a{
    text-align: left;
    width: 200px;
    color: #52B2AE;
    border-bottom: 1px solid ;
    text-decoration: none;
    
}
.info .ban-info .link img{
    padding-left: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -20px 100px;
    gap: 40px;
    position: relative;
}
.box .box-testimonial{
    background: hsl(219, 30%, 18%);
    box-shadow: 0 0 15px hsla(219, 30%, 18%, 1) ;
    border-radius: 10px;
}





















@media screen and (max-width: 375px) {
    .features .fav1{
        display: flex;
        flex-direction: column;
    }
    .features .fav2{
        display: flex;
        flex-direction: column;
    }
}